# Ignore everything by default
**

# Keep this file
!.gitignore

# Allow repo-root files only (not directories)
!/*
/*/

# scripts: include files directly under scripts, exclude its subdirectories
!/scripts/
!/scripts/*
/scripts/*/

# scripts/analysis: include files, exclude subdirectories
!/scripts/analysis/
!/scripts/analysis/*
/scripts/analysis/*/

# scripts/basecalling: include files, exclude subdirectories
!/scripts/basecalling/
!/scripts/basecalling/*
/scripts/basecalling/*/

# Track scripts/analysis/.ipynb_checkpoints (files only)
!/scripts/analysis/.ipynb_checkpoints/
!/scripts/analysis/.ipynb_checkpoints/*
/scripts/analysis/.ipynb_checkpoints/*/